.container{
    text-align: center;
    border-style: outset;
    align-content: center;

}
#up{
    padding: .75rem 0;
    background-color: #7952b3;
}

body{
    margin: 0;
    font-family: var;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3;
    color: #212529;
    background-color: #fff;
}

.textcol {
    color: #edf2f7;
}

.textcol2{
    color: #7952b3;
}

#tab{
    margin: auto ;
}
